<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Vue Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">
                <div v-for="(itemImg, i) in slides"  
                class="item slider-container" v-bind:class="activeImageIndex === i ? 'active':''" 
                v-show="activeImageIndex === i">
                <img v-bind:src="itemImg.image" v-bind:alt="'Immagine#' + i">
                    <div class="text">
                        <h3>{{ slides.title }}</h3>
                        <p>{{ slides.text }}</p>
                    </div>
                </div>

                <!-- I discendenti del div che contiene la variabile i hanno accesso agli argomenti del padre -->
                <div class="thumbs">
                    <div class="prev" @click="onPreviewClick(i)"></div>
                    <div class="next" @click="onNextClick(i)"></div>
                    <div class="thumb slider-container" v-for="(itemImg, i) in slides"
                        v-bind:class="activeImageIndex === i ? 'active' : ''" @click="onThumbClick(i)">
                        <img v-bind:src="itemImg.image" v-bind:alt="'Immagine#' + i">
                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>